*,
*::before,
*::after {
    box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    line-height: 1.5rem;
    max-width: 65ch;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: var(--rt-font--primary);
    font-size: 1rem;
    font-weight: 400;
    color: var(--rt-color-stone-600);
    background-color: var(--rt-color-stone-100);
}